<!DOCTYPE html>
<html>

<head>
    {% include "component/head.html" %}
    <title>Explore - Cardiff Web</title>
</head>

<body>
    <div class="container">
        {% include "component/navbar.html" %}

        <div class="explore">
            <div class="row">
                {% for repo_1, repo_2 in repo_list %}                    
                <div class="col-md-6">
                    <div class="jumbotron">
                        <div class="jumbotron-photo">
                            <img src="http://bootflat.github.io/img/Jumbotron.jpg">
                        </div>
                        <div class="jumbotron-contents">
                            <a href="/repo?switch={{ repo_1 }}"><h1>{{ repo_1 }}</h1></a>
                        </div>
                    </div>
                </div>
                {% if repo_2 != None %}
                <div class="col-md-6">
                    <div class="jumbotron">
                        <div class="jumbotron-photo">
                            <img src="http://bootflat.github.io/img/Jumbotron.jpg">
                        </div>
                        <div class="jumbotron-contents">
                            <a href="/repo?switch={{ repo_2 }}"><h1>{{ repo_2 }}</h1></a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>


        {% include "component/footer.html" %}
    </div>
</body>
</html>