<!DOCTYPE html>
<html>
<head>
    {% include "component/head.html" %}
    <title>Preparation - Cardiff Web</title>    
</head>

<body>
    <div class="container">
        {% include "component/navbar.html" %}

        <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>No Repository Found!</h4>
                <p>Looks you are using Cardiff first time, please initial your first repository with your name and email.</p>
                <p>This repository will be used to store all versions of file. Current VCS is: <b>{{ vcs }}</b>.</p>
                <p><button class="btn btn-warning" data-toggle="modal" data-target="#prepare-modal">Go to Setup</button></p>
        </div>

        {% include "modal/repoinit.html" %}
        {% include "component/footer.html" %}
    </div>
</body>

</html>