<!DOCTYPE html>
<html>

<head>
    {% include "component/head.html" %}
    <title>Search - Cardiff Web</title>
</head>

<body>
    <div class="container">
        {% include "component/navbar.html" %}

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Searching Keywords: <strong>{% for key in keywords %} <a href="/search?keyword={{key}}"><code class="text-primary">{{ key }}</code></a> {% endfor %}</strong>
                </div>
                {% include "alert/maintenance.html" %}                
            </div>
        </div>

        {% include "component/footer.html" %}
    </div>
</body>