<div class="panel panel-default">
    <div class="panel-heading">Commits</div>
    <table class="table">
        <thead>
            <tr>
                <th>Version</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for log_item in commit_logs %}
            <tr>
                {% load subtract %}
                <td class="text-center"><a href="/view?diff={{ changed_file }}&before={{ forloop.counter|subtract:1 }}&after={{ forloop.counter }}"><code class="text-primary"># {{ forloop.counter }}</code></a></td>
                <td>{{ log_item.4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
