{% load get_d_value %}
<div class="row">
    <div class="col-md-6">
        <label>User Name</label>
        <input type="text" class="form-control" name="user.name" placeholder="{{ cardiff|get_d_value:"user.name" }}" />
    </div>
    <div class="col-md-6">
        <label>User Email</label>
        <input type="text" class="form-control" name="user.email" placeholder="{{ cardiff|get_d_value:"user.email" }}" />
    </div>
    <div class="col-md-6">
        <label>Version Control System</label>
        <input type="text" class="form-control" name="vcs" placeholder="{{ cardiff.vcs }}" />
    </div>
    <div class="col-md-6">
        <label>Temp Folder</label>
        <input type="text" class="form-control" name="temp" placeholder="{{ cardiff.temp }}" />
    </div>
    <div class="col-md-6">
        <label>Log Folder</label>
        <input type="text" class="form-control" name="log" placeholder="{{ cardiff.log }}" />
    </div>
    <div class="col-md-6">
        <label>Verbose Mode</label>
        <input type="text" class="form-control" name="verbose" placeholder="{{ cardiff.verbose }}" />
    </div>
</div>