<!DOCTYPE html>
<html>

<head>
    <title>About - Cardiff Web</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "style.css" %}/>
    <link rel="shortcut icon" href={% static "cardiff.png" %}/>
</head>

<body>
    <h1>About Cardiff Web</h1>

    <table class="c_table" border="1">
        <tr class="normal">
            <td>Contributor</td>
            <td>{{contributor}}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{{version}}</td>
        </tr>
    </table>
</body>

</html>