<!--div class="footer">
    <div class="container">
        <div class="clearfix">
            <div class="footer-logo">
                <a href="/">
                    {% load static %}
                    <img src={% static "cardiff_w.png" %}>
                </a>
            </div>
            <dl class="footer-nav">
                <dt class="nav-title">Open Source</dt>
                <dd class="nav-item">
                    <a href="https://github.com/peitaosu/Cardiff">Cardiff Repository</a>
                </dd>
                <dd class="nav-item">
                    <a href="https://github.com/peitaosu/Cardiff_Web">Cardiff Web Repository</a>
                </dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">Documentation</dt>
                <dd class="nav-item">
                    <a href="https://github.com/peitaosu/Cardiff/blob/master/README.md">Cardiff README</a>
                </dd>
                <dd class="nav-item">
                    <a href="https://github.com/peitaosu/Cardiff_Web/blob/master/README.md">Cardiff Web README</a>
                </dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">BUSINESS</dt>
                <dd class="nav-item">
                    <a href="#">Cooperation</a>
                </dd>
                <dd class="nav-item">
                    <a href="#">Commercial Use</a>
                </dd>
                <dd class="nav-item">
                    <a href="#">Technical Support</a>
                </dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">CONTACT</dt>
                <dd class="nav-item">
                    <a href="mailto:peitaosu@163.com">E-Mail</a>
                </dd>
                <dd class="nav-item">
                    <a href="https://github.com/peitaosu">Github</a>
                </dd>
                <dd class="nav-item">
                    <a href="https://www.linkedin.com/in/supeitao/">Linkedin</a>
                </dd>
            </dl>
        </div>
        <div class="footer-copyright text-center">Copyright © 2017 Tony Su. All rights reserved.</div>
    </div>
</div-->
<div class="site-footer">
    <div class="container">
        <div class="copyright clearfix">
            <p>
                <b>Cardiff</b>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://github.com/peitaosu/Cardiff">Open Source</a>&nbsp;•&nbsp;
                <a href="https://github.com/peitaosu/Cardiff/blob/master/README.md">Documentation</a>&nbsp;•&nbsp;
                <a href="https://github.com/peitaosu/Cardiff/issues">Found a bug?</a>
            </p>
            <p>© 2017 <a href="https://github.com/peitaosu" target="_blank">Tony Su</a>. All rights reserved. &nbsp;Code licensed under <a href="http://opensource.org/licenses/mit-license.html" target="_blank" rel="external nofollow">MIT License</a>.</p>
        </div>
    </div>
</div>