<h3>Introduction</h3>
<div class="panel-group panel-group-lists collapse" id="accordion1" style="">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-1">
                    What is Project Cardiff ?
                </a>
            </h4>
        </div>
        <div id="collapse1-1" class="panel-collapse collapse in" style="" class="">
            <div class="panel-body">
                <br/> Project Cardiff want to create a version control tool for binary format files.
                <br/>
                <br/> This tool can be used to diff difference between file versions, to check what have been modified, save versions and manage versions. Binary format always contains more complex information and hard to be parsed and modified, not like text format can be easy to read, modify, diff and merge. Not all binary formats have the meaning of diffing and controlling the version. So we only want to support homogeneous formats which the content can be visualized or parameterized, such as PNG, PSD, DWG, etc.
                <br/>
            </div>
        </div>
    </div>
</div>
