<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left" href="/">Cardiff</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/explore"><i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;Explore</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Repository <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/repo"><i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;My Repositories</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#prepare-modal" data-toggle="modal" data-target="#prepare-modal"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;New Repository</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/settings"><i class="glyphicon glyphicon-cog"></i>&nbsp;&nbsp;Settings</a>
                </li>
                <li>
                    <a href="/about"><i class="glyphicon glyphicon-copyright-mark"></i>&nbsp;&nbsp;About</a>
                </li>
            </ul>
            {% if signed %}
            <p class="navbar-text navbar-right"><a class="navbar-link" href="">Tony Su</a></p>
            {% else %}
            <button type="button" class="navbar-right btn btn-danger navbar-btn"><i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Login</button>
            {% endif %}
            <form class="navbar-form navbar-left" role="search">
                <div class="form-search search-only">
                    <i class="search-icon glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control search-query" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
    {% include "modal/repoinit.html" %}
</nav>
