<!DOCTYPE html>
<html>

<head>
    <title>Preparation - Cardiff Web</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "style.css" %}/>
    <link rel="shortcut icon" href={% static "cardiff.png" %}/>
</head>

<body style="width: 980px;">
    <div id="prepare_intro">
        <h1>Preparation</h1>
        <p>Looks you are using Cardiff first time, please initial your first repository with your name and email.</p>
    </div>
    <div id="prepare_form">
        <form id="prepare" action="/init" method="get">
            {% if repo_set == False %}
            <input type="text" name="repo" placeholder="Repository"/>
            {% endif %}
            {% if name_set == False %}
            <input type="text" name="username" placeholder="User Name"/>
            {% endif %}
            {% if email_set == False %}
            <input type="text" name="useremail" placeholder="User Email"/>
            {% endif %}
            <input type="submit" value="Setup"/>
        </form>
    </div>
</body>

</html>