{% extends "main.html" %}

{% block title %}
    <title>Repository - Cardiff Web</title>
{% endblock %}

{% block right_panel %}

    <div id="main_info">
        <form id="upload" enctype="multipart/form-data" method="post" action="/upload">
            {% csrf_token %}
            <p>Commit Your File into Repo: </p>
            <input id="file_upload" name="commit_file" type="file" />
            <input id="submit" type="submit" value="Commit" />
        </form>
        <p>{{ rlt }}</p>
    </div>

    <div id="repo_panel">
        <h2>Current Repository</h2>
        <p>{{ current_repo }}</p>

        <h2>Current Branch</h2>
        <p>{{ current_branch }}</p>

        <h2>Commit Logs</h2>
        <table class="c_table" border="1">
            <tr>
                <td>Hash</td>
                <td>Message</td>
            </tr>
            {% for log_item in commit_logs %}
            <tr>
                <td>{{ log_item.1 }}</td>
                <td>{{ log_item.4 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}