{% extends "main.html" %}

{% block title %}
    <title>Repository - Cardiff Web</title>
{% endblock %}

{% block right_panel %}

    <div id="main_info">
        <form id="upload" enctype="multipart/form-data" method="post" action="/upload">
            {% csrf_token %}
            <p>Commit Your File into Repo: </p>
            <input id="file_upload" name="commit_file" type="file" />
            <input id="submit" type="submit" value="Commit" />
        </form>
        {% if uploaded %}
        <p>{{ uploaded }} saved in: {{ save_loc }}</p>
        <p>Do you want to commit {{ uploaded }} ?</p>
        <form id="commit" method="post" action="/commit">
            {% csrf_token %}
            <input type="hidden" value="{{ uploaded }}" name="uploaded_file">
            <input type="text" name="commit_msg" placeholder="Commit Message"/>
            <input type="submit" value="Commit" />
        </form>
        {% if committed %}
        <p>{{ committed }} committed.</p>
        {% endif %}
        {% endif %}
        {% if temp_file %}
        {% load static %}
        {% static "" as temp_url %}
        <div id="show">
            <img src={{ temp_url }}{{ temp_file }} />
        </div>
        {% endif %}
    </div>

    <div id="repo_panel">
        <h2>Current Repository</h2>
        <p>{{ current_repo }}</p>

        <h2>Other Repositories</h2>
        {% for o_repo in other_repo %}
        <p>{{ o_repo }}</p>
        {% endfor %}

        <h2>Current Branch</h2>
        <p>{{ current_branch }}</p>

        <h2>Commit Logs</h2>
        <table class="c_table" border="1">
            <tr>
                <td>Hash</td>
                <td>Message</td>
            </tr>
            {% for log_item in commit_logs %}
            <tr>
                <td>{{ log_item.1 }}</td>
                <td>{{ log_item.4 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}