<!DOCTYPE html>
<html>

<head>
    <title>Repository - Cardiff Web</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "style.css" %}/>
</head>

<body>
    <h1>Repository</h1>

    <h2>Current Repository</h2>
    <p>{{ current_repo }}</p>

    <h2>Current Branch</h2>
    <p>{{ current_branch }}</p>

    <h2>Commit Logs</h2>
    <table class="c_table" border="1">
        <tr>
            <td>Hash</td>
            <td>Message</td>
        </tr>
        {% for log_item in commit_logs %}
        <tr>
            <td>{{ log_item.1 }}</td>
            <td>{{ log_item.4 }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>