html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    margin: auto;
    background-color: #eee;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    margin: 24px auto 24px auto;
}

table.c_table {
	margin-top:15px;
	border-collapse:collapse;
	border:1px solid #aaa;
	width:100%;
}

table.c_table th {
	vertical-align:baseline;
	padding:5px 15px 5px 6px;
	background-color:#3F3F3F;
	border:1px solid #3F3F3F;
	text-align:left;
	color:#fff;
}

table.c_table td {
	vertical-align:text-top;
	padding:6px 15px 6px 6px;
	border:1px solid #aaa;
}

table.c_table tr:first-child td{
    background-color:#444;
    color:#fff;
}

table.c_table tr:nth-child(odd) {
	background-color:#F5F5F5;
}

table.c_table tr:nth-child(even) {
	background-color:#fff;
}

table.c_table pre {
	width:auto;
	margin:0;
	padding:0;
	border:0;
	background-color:transparent;
}

table.c_table p {
    margin:0 0 2px 0;
}

table.c_table tr.normal td{
	background-color:#F5F5F5;
    color: initial;
}

#prepare {
    width: 980px;
    height: 512px;
    margin: 120px auto 0 auto;
    position: absolute;
    left:50%;
    top:50%; 
    margin-left:-490px;
    margin-top:-256px;
}

#prepare h1 {
    text-align: left;
}

#prepare form input {
    font-size: 18px;
    padding: 6px;
}
#prepare form input[type=submit] {
    border: none;
    height: 36px;
    width: 120px;
    font-size: 18px;
}

#about {
    width: 980px;
    margin: 120px auto 0 auto;
}

#left_panel {
    width: 18%;
    height: 100%;
    background-color: #444;
    color: #eee;
    float: left;
}

#right_panel {
    width: 82%;
    height: 100%;
    background-color: #eee;
    float: left;
}