<div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>Repository Initialization Failed!</h4>
        <p><b>Your Initialization Information:</b></p>
        <p>Repository: <b>{{ initial_info.repo }}</b></p>
        <p>User Name: <b>{{ initial_info.username }}</b></p>
        <p>User Email: <b>{{ initial_info.useremail }}</b></p>
        <p><a class="btn btn-danger" href="#init-modal" data-toggle="modal" data-target="#init-modal">Try Again</a> <a class="btn btn-link" href="/">Or Go To Homepage</a></p>
</div>
